[alias]
	st = status
	co = checkout
	cob = checkout -b
	diffs = diff --staged
	rebcon = rebase --continue
	rebab = rebase --abort
  cp = cherry-pick
  cpc = cherry-pick --continue
  cpa = cherry-pick --abort
	blist = branch --list
	cam = commit --amend
	camne = commit --amend --no-edit
  pra = pull --rebase --autostash
  woops = reset --hard origin/master
  woopsy = reset --hard origin/main
  fix = commit --fixup
  squish = -c sequence.editor=: rebase --autosquash --interactive
[core]
	editor = nvim
[push]
	default = current
[pull]
	rebase = true
[commit]
	gpgsign = true
[format]
  signOff = true
[delta]
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Monokai Extended

# For user details per-machine
[include]
  path = ~/.gitconfig_user
